html,body,.capa{
	height: 100%;
    overflow:auto;
}


.body{
   
	background: url('Img/cerebro2.jpeg');
	background-attachment: fixed;
	font-family:Helvetica,Arial,sans-serif;



}
/* --Barra de navegação  --*/
.Img-logo{
	height: 50px;
	width:132px;
	display: inline;
	background-size:contain;

}
span {
	 font-size:x-large;
    font-weight: 200px;
}
.corMentalUnion{
	color:#9bf0e1; 
}


nav.navbar-transparente{
	padding: 15px 0px ;
	background: rgba(0,0,0,0.6);
	border: none;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}
a>img{-webkit-transition: all 1s;}
a>img:hover{-webkit-transform: scale(1.1);

}
div>img{-webkit-transition: all 1s;}
div>img:hover{-webkit-transform: scale(1.1);

}
.container{
	float: center;
}

/* Imagem de capa*/
.capa{
	 display: table;
	 width: 100%;
}
.texto-capa{
	text-align: center;
	color:#cc0099;
	display: table-cell;
	vertical-align: middle;
}

/*--Botões--*/
.btn-custom{
	color: #cc0099;
	border-radius: 500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	text-transform: uppercase;
}
.btn-azul{
		background:#80bfff;;
	}
	/*--Seção serviço--**/
	#serviços{
		background: white;
		padding-top: 20px;
		padding-bottom: 20px;
	} 
	.albuns{
		padding: 0px 5px 0px 5px;
		padding-left: 40px;
	}

	/* Videos */
	video {
  max-width: 100%;
  height: auto;
}
	/* Rodapé*/
footer{

	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
	box-sizing: inherit;
}
.video{
	text-align: center;
}
/* --Barra de navegação noticias  --*/
#navegacao{
		background: #fff;
		border-bottom: 1px solid #d8d8d8;
		height:80px;
		position: fixed;
		width: 100%;
		top: 0;
	}
#areaprincipal{
		width: 720px;
		margin: 80px auto 10px auto;
		}
.postado{
		border-left: 5px solid #d8d8d8;
		padding-left: 5px;
		display: block;
		margin-top: 10px;
	}
	.data-postagem{
		font-size: 14px;
		border-bottom: 1px solid #f4f4f4;
		display: block;
		padding-bottom: 10px;
		margin-bottom:10px;
	}
	.img-postagem{
		float: left;
		margin: 0 10px 5px 0;
	}

	/* Barra de navegação artigo de convidados */
	.grid{
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
/*===========Tipografia========*/
h1{
	
	font-weight: 900;
	letter-spacing: -2px;

}

/*Media queries */
/** xs < 768 */

@media screen and(max-width: 767px){
 h1{
 	font-size: 50px;
 }
 .btn-custom{
 	padding: 10px 15px;
 	margin:10px 15px;
 }
}
/*sm */
@media screen and (min-width: 768px){
	h1{
		font-size: 70px;
	}
}
/*md */
@media screen and(min-width: 992px){
	h1{
		font-size: 80px;
	}
}
/*lg */

@media screen and(min-width: 1200px){
h1{
	font-size: 100px
}
}
.fontenoticias{
	color: orange;
	color:orange;
}
#serviços h2, #serviços h3{
	color:#cc0099;
	color:#cc0099;
}
#Postagem h2{
color:#cc0099;
color:#cc0099;
}